.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dropdown {
  margin-top: 20px; 
  margin-bottom: 20px; 
  display: flex; 
  align-items: center; 
}

.time_slider {
  margin-bottom: 20px; 
  display: flex; 
  align-items: center; 
}

.time_slider label {
  margin-right: 10px; 
  white-space: nowrap; 
}

.intro {
  text-align: left;
  width: 80%;
}

.footnote {
  text-align: left;
  width: 70%;
  font-size: 0.75em; 
  color: #666;
  margin-top: 5px; 
  margin-bottom: 0px; 
}

.controls {
  text-align: left;
  width: 70%;
  font-size: 0.85em; 
  margin-top: 5px; 
  margin-bottom: 0px; 
}

.checkbox-panel {
  margin-right: 20px; /* Space between the checkboxes and the chart */
  max-height: 1060px; /* Or whatever fits your design */
  overflow-y: auto; /* Enable scrolling if there are many runners */
  align-items: flex-start; /* Align items to the start (left) */

}

.checkbox-panel > div {
  text-align: left; /* Ensure content within each div is left-aligned */
}